<h2>Completed Tasks</h2>

<div class="task-list">

    {{#if tasks}}

        <ul>
            {{#each tasks}}
                <li><a href="task/{{this._id}}">{{this.text}}</a></li>
            {{/each}}
        </ul>

        <div class="delete-all-done">
        <form action='/deleteDone' method="Post">
            <input  class="delete-all-done-button" type='submit' value='Delete completed tasks' onclick="return confirm('Are you sure?')">
        </form>
    </div>
    {{else}}

        <p>No tasks have been completed</p>

    {{/if}}

</div>

